<div id='in_room' class="boo!"></div>
<div id='user_info' data-user_id="<%= @user.id %>" data-user_name="<%= @user.username %>">

    <form class="join-form-field">
        <h1 id="join-title">ルーム名入力！</h1>
        <input type="text" data-behavior="room_speaker" id="join-field">
    </form>

</div>