<div class="ajaxReturn">
    <div class="lounge-players">
        <% User.where(roomname: params[:room_name]).each do |player| %>
            <div class="player-card">
                <h2 class=<%= player.id %>><%= player.username %></h2>
            </div>
        <% end %>
    </div>
</div>