<div class="ajaxReturn">
    <% Picture.where(room_name: params[:room_name]).each do |t| %>
        <div class="image">
            <%= image_tag t.image_url, size: "250x200" if t.image? %>
        </div>
    <% end %>
</div>