<div class="ajaxReturn">
    <% Picture.where(room_name: params[:room_name]).each do |p| %>
        <div class="image">
            <%= image_tag p.image_url, size: "250x200" if p.image? %>
            <%= p.in_room_order %>
            <%= "â—"*p.picname.length %> by
            <%= User.find(p.user_id).username%>
        </div>
    <% end %>
</div>