.new-room-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.new-room-form h1{
    margin-top: 9vw;
    font-weight: bold;
    font-size: 30px;
}

#room_room_name{
    margin-top: 10.7vw;
    padding: 0.8em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 30px;
    width: 60%;
    font-weight: bold;
    text-align: center;
}
#room_room_name:focus {
    box-shadow: 0 0 7px #3498db;
    border: 1px solid #3498db;
}

#create-room-btn{
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    cursor:pointer;
    margin-top: 2.8vw;
    width: 30%;
    height: 8vw;
    color: #fff;
    font-size: 3.4vw;
    font-weight: bold;
    border: none;
    background-color: #eb6100;
    border-bottom: 5px solid #b84c00;
    /* -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3); */
}

#create-room-btn:active {
    margin-top: 3.2vw;
    color: #fff;
    background: #f56500;
    border-bottom: 2px solid #b84c00;
}