.main-container{
    display: flex;
    width: 100%;
}

.left-container{
    margin-left: 1vw;
}

.right-container{
    margin-top: 1vw;
    margin-left: 3vw;
}

.pic-display{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 2vw;
}

.image-info{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    margin-top: 2vw;
}
.each-pic{
    border: 2px dotted #2ECFCA;
    width: 15vw;
    height: 15vw;
    background-color: white;
}

#count-box{
    width: 52px
}
#count-down{
    font-size: 41px;
    width: auto;
    text-align: end;
}

#picname_form{
    margin-top: 0.7vw;
    padding: 0.3em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 20px;
    width: 70%;
    /* font-weight: bold; */
    /* text-align: center; */
}

#picname_form:focus {
    box-shadow: 0 0 7px #F8DF77;
    border: 1px solid #c9b461;
}

#turn-btn{
    display: inline-block;
    margin-left: 8px;
    text-decoration: none;
    background: #FF4E62;
    color: #F9F3DE;
    font-weight: bold;
    font-size: 25px;
    width: 22%;
    height: 100%;
    line-height: 40px;
    border-radius: 15%;
    padding-left: 5px;
    padding-bottom: 5px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px #FF4E62;
    border: dashed 1.5px #FFF;
    transition: .4s;
}
#turn-btn:hover{
    background: #ff001e;
    box-shadow: 0px 0px 0px 5px #ff001e;
}

#draw-area{
    background-color: white;
    margin-left: 2px;
    border: 5px dotted #2ECFCA;
    /* outline: 3px solid #2ECFCA;
        outline-offset: 3px; */
}

.other-traits{
    display: flex;
    align-items: center;
}

#clear-btn{
    font-size: 22px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: auto;
    padding-bottom: 4px;
    text-align: center;
    width: 100px;
    height: 45px;
    border-radius: 10%;
    border-color: black;
    background-color: white;
}

.directions{
    display: flex;
    justify-content: center;
    align-items: center;
}

#direction{
    margin-left: 1vw;
    width: 10vw;
    height: 10vw;
    margin-bottom: 3vw;
}

#first_character{
    margin-left: 1vw;
    font-size: 8vw;
    margin-bottom: 3vw;
}
#start-with{
    margin-bottom: 8.3vw;
}

#words-circle{
    font-family:'ＭＳ ゴシック', sans-serif
}

#player-index{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.current-players{
    margin-left: 0.7vw;
    margin-right: 0.7vw;
    background-color: #F8DF77;
    height: 3vw;
    width: auto;
    padding: 0vw 0.5vw;
    font-size: 1.7vw;
    box-shadow: 0 2px 5px #ccc;
}
.last-chara-box{
    display: flex;
    /* align-items: center; */
    /* height: 4.3vw; */
}
#turn-count{
    font-size: 5vw;
    text-align: center;
}
#turn-count-box{
    display: flex;
}
#last-character{
    font-size: 5vw;
}
.explanation{
    font-size: 2vw;
    margin-top: auto;
    margin-bottom: 1vw;
}
.top-right-box{
    display: flex;
    height: 7vw;
    align-items: center;
    margin-bottom: 2vw;
}